---
import Dataload from '../components/Dataload.vue'

---
<Dataload 
  target="/api/clhdtusbo0000lbyc6y8yntkc/note/clhjf3u850000mn08ofd4sk7w/show" 
  field="body" 
  client:only />

<div>Testando...</div>

